<div class="container signup">
    <h1>Sign Up</h1>
    <form class="" ng-submit="signUp()" method="post">
        <label for="email">Email</label>
        <input ng-model="email" type="email" name="email" id="email">
        <label for="username">Username</label>
        <input ng-model="username" type="text" name="username" id="username">
        <label for="password">Password</label>
        <input ng-model="password" type="password" name="password" id="password">
        <br>
        <button type="submit" name="button">Sign Up</button>
    </form>
</div>
